{% load static %}

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Javascript -->
<script src="{% static 'polls/main.js' %}" type="text/javascript"></script>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<title>Poll-inator</title>


<div>
	<nav class="navbar navbar-inverse header-nav">
		<div class="container">
			<a class="navbar-brand" href="mainPage.html">The Poll-inator</a>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right">
				</ul>
			</div>
		</div>
	</nav>

<form method="POST" id="question-form">
    {% csrf_token %}
    <!-- <div class="fieldWrapper" id="the_question"> -->
    {{ form.as_p }}
    <!-- </div> -->
    <div id="results"></div> <!-- errors go here -->
    <input type="submit" value="Create Question" class="tiny button">
</form>

<h1>List of Questions</h1>
{% if question_list %}
	<ul id="questions">
	{% for question in question_list %}
		<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No polls are available.</p>
{% endif %}