{% load static %}
<script src="{% static 'polls/main.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<h1>Welcome to Poll-inator</h1>

{% if question_list %}
	<ul>
	{% for question in question_list %}
		<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No polls are available.</p>
{% endif %}

<form action="/create_post/" method="POST" id="post-form">
<script src="static/scripts/main.js"></script>
